RewriteEngine On
RewriteRule ^pricing/$ /pricing.php [L]
RewriteRule ^contact$ /support/contact.php [L]
RewriteRule ^faq$ /support/faq.php [L]
RewriteRule ^aboutus/$ /aboutus.php [L]

RewriteRule ^imprint/$ /legal/imprint.php
RewriteRule ^privacy-policy/$ /legal/privacypolicy.php
RewriteRule ^terms-of-use/$ /legal/termsofuse.php
RewriteRule ^terms-of-service/$ /legal/termsofservice.php
